  <!-- Footer Start -->

<div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5">
    <div class="container py-1">
        <div class="pb-4 mb-4" style="border-bottom: 1px solid rgba(226, 175, 24, 0.5) ;">
            <div class="row g-4">

                <div class="col-lg-3">
                    <div class="d-flex @*justify-content-end *@pt-3">
                        <a class="btn  btn-outline-secondary me-2 btn-md-square rounded-circle" href="https://twitter.com/honkaistarrail"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href="https://www.facebook.com/GenshinImpact"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href="https://www.youtube.com/@@HonkaiImpact3rd"><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-secondary btn-md-square rounded-circle" href="https://www.linkedin.com/company/hoyoverse"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <div class="footer-item">
                    <h4 class="text-light mb-3">Hotline đặt hàng nhanh chóng!</h4>
                    <p class="mb-10">
                        19006008
                    </p>
                    <a href="" class="btn border-secondary py-2 px-4 rounded-pill text-primary">Read More</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column text-start footer-item">
                    <h4 class="text-light mb-3">GÀ RÁN POPEYES</h4>
                    <a class="btn-link" href="">Về chúng tôi</a>
                    <a class="btn-link" href="">Cửa hàng</a>
                    <a class="btn-link" href="">Khuyến mãi</a>
                    <a class="btn-link" href="">Đặt hàng</a>

                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column text-start footer-item">
                    <h4 class="text-light mb-3">Tài khoản</h4>
                    <a class="btn-link" href="">Tài khoản</a>
                    <a class="btn-link" href="">Giỏ hàng</a>
                    <a class="btn-link" href="">Wishlist</a>
                    <a class="btn-link" href="">Lịch sử đặt hàng</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-item">
                    <h4 class="text-light mb-3">Chấp nhận thanh toán</h4>
                    <img src="img/payment.png" class="img-fluid" alt="">
                    <img src="/image/orther/credentials.png" alt="" height="45">
                    <a href="https://apps.apple.com/vn/app/popeyes-vietnam/id1490974653" target="_blank" rel="noreferrer">
                        <img src="/image/orther/appstore-vn.png" alt="appstore" height="40">
                    </a>
                    <a href="https://play.google.com/store/apps/details?id=com.popeyes&amp;hl=en" target="_blank" rel="noreferrer">
                        <img src="/image/orther/playstore-vn.png" alt="playstore" height="40">
                    </a>


                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer End -->