
@{
    ViewData["Title"] = "Đặt hàng thành công!";
}



<div class="container d-flex flex-column justify-content-center align-items-center vh-100">
    <div class="message text-center">
        <h1>Đặt hàng thành công!</h1>
        <p>Cảm ơn bạn đã đặt hàng. Chúng tôi sẽ xử lý đơn đặt hàng của bạn sớm nhất có thể.</p>
    </div>
    <a asp-controller="DoAn" asp-action="Index" class="btn btn-primary mt-3">Đặt món tiếp</a>
</div>